.omniplus-forum-subject {
    /* Vertical flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* Space between the posts */
    gap: 20px;

    overflow-y: scroll;

    user-select: none;
}


.omniplus-forum-subject .message {
    /* Prevent the messages from being squished when the page overflows. */
    flex-shrink: 0;
    height: auto;
    /* A few sources suggest that the width of each line should not exceed 75 characters.
    With the padding this limit will be a bit shorter. */
    font-size: 16px;
    line-height: 20px;
    max-width: 75ex;
}

.omniplus-forum-subject .message .card .header {
    /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.omniplus-forum-subject .message .card .header .filler {
    /* Make the filler fill the space and push the time to the right. */
    flex-grow: 1;
}
.omniplus-forum-subject .message .card .header .author {
    /* Prevent from getting squished. */
    flex-shrink: 0;
}
.omniplus-forum-subject .message .card .header .time {
    /* Prevent from getting squished. */
    flex-shrink: 0;
    color: var(--grey-700);

    /* Put the fonts on a smaller size */
    font-size: 14px;
}

.omniplus-forum-subject .message .card .shortened {
    max-height: 200px;
    overflow: hidden;
}

/* Give the expand button the secondary colour so it doesn't look too similar. */
.omniplus-forum-subject .badged-card .badge-holder .expand {
    --badge-clickable-background: var(--secondary);
    --badge-clickable-background-hovered: var(--secondary-dark);
    --badge-clickable-background-focused: var(--secondary-darker);
}

.omniplus-forum-subject .controls {
    position: absolute;
    z-index: 99;
    /* Align this to the right */
    align-self: end;

    /* Vertical flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 12px;

    --button-size: 48px;
}

.omniplus-forum-subject .controls .button {
    height: var(--button-size);
    width: var(--button-size);

    border-radius: 4px;
    /* Material 2dp shadow */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

    /* Centre-align horizontally */
    text-align: center;
    /* Using flexbox to centre-align vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* icon size and colour */
    color: white;
    font-size: calc(var(--button-size) * 0.67);

    text-decoration: none !important;

    /* Pointer indicating that the file can be downloaded. */
    cursor: pointer;
    background-color: var(--button-clickable-background);

    transition-duration: 0.2s;
}
.omniplus-forum-subject .controls .button:hover {
    background-color: var(--button-clickable-background-hovered);
}
.omniplus-forum-subject .controls .button:focus {
    background-color: var(--button-clickable-background-focused);
}

.omniplus-forum-subject .controls .primary {
    --button-clickable-background: var(--primary);
    --button-clickable-background-hovered: var(--primary-dark);
    --button-clickable-background-focused: var(--primary-darker);
}
.omniplus-forum-subject .controls .secondary {
    --button-clickable-background: var(--secondary);
    --button-clickable-background-hovered: var(--secondary-dark);
    --button-clickable-background-focused: var(--secondary-darker);
}