.omniplus-grades-overview svg {
    /* Placeholder sizing */
}

.omniplus-grades-overview svg .label {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    user-select: none;
}

.omniplus-grades-overview svg .heavy-line {
    stroke: black;
}
.omniplus-grades-overview svg .light-line {
    stroke: var(--grey-400);
}

/* Why do they have fill in the first place, aren't they polyLINEs? */
.omniplus-grades-overview svg polyline {
    fill: none;
}

.omniplus-grades-overview svg .individual-line {
    stroke: var(--primary);
}
.omniplus-grades-overview svg .individual-point {
    fill: var(--primary);
}

.omniplus-grades-overview svg .average-line {
    stroke: var(--grey-600);
}
.omniplus-grades-overview svg .average-point {
    fill: var(--grey-600);
}