.omniplus-documents-overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;

    gap: 20px;

    user-select: none;
}

.omniplus-documents-overview .control-bar {
    /* Prevent the course list from squishing the control bar. */
    flex-shrink: 0;

    padding: 4px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    gap: 10px;
}

.omniplus-documents-overview .control-bar .search-bar {
    flex-grow: 1;

    font-size: 20px;
    /* Give the text some space */
    line-height: 28px;
    /* Lots and lots of space */
    padding: 4px;

    border-style: none none solid none;
    border-width: 3px;
    border-color: var(--grey-400);
    outline: none;

    transition-duration: 0.2s;
}

.omniplus-documents-overview .control-bar .search-bar:hover {
    border-color: var(--grey-600);
}
.omniplus-documents-overview .control-bar .search-bar:focus {
    border-color: black;
}

.omniplus-documents-overview .control-bar .button {
    flex-shrink: 0;

    font-size: 20px;
    /* Give the text some space */
    line-height: 28px;

    /* Extra horizontal padding */
    padding: 4px 8px 4px 8px;

    text-transform: uppercase;
    font-weight: 400;
    color: white;

    background-color: var(--primary);
    border: none;
    border-radius: 2px;
    /* Material 2dp shadow */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

    /* Using flexbox to centre-align vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition-duration: 0.2s;
}

.omniplus-documents-overview .control-bar .button:hover {
    background-color: var(--primary-dark);
}
.omniplus-documents-overview .control-bar .button:focus {
    background-color: var(--primary-darker);
}

.omniplus-documents-overview .course-list {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    gap: 20px;

    overflow-x: auto;

    /* Scrollbar styling for Firefox */
    scrollbar-color: grey rgba(0, 0, 0, 0);
}

.omniplus-documents-overview .course-list-loading {
    flex-grow: 1;

    /* Center the animated loader */
    display: flex;
    justify-content: center;
    align-items: center;
}
.omniplus-documents-overview .course-list-loading .loading-spinner {
    width: 120px;
    height: 120px;

    border: 8px solid white;
    border-top: 8px solid var(--grey-600);
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Scrollbar styling for webkit browsers. */
.omniplus-documents-overview .course-list::-webkit-scrollbar {
    background: none;
    width: 8px;
}

.omniplus-documents-overview .course-list::-webkit-scrollbar-track {
    background: none;
}

.omniplus-documents-overview .course-list::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
}

.omniplus-documents-overview .course-list .course-name {
    font-size: 24px;
    line-height: 30px;


    /* Double line height for up to 2 lines of text. */
    min-height: 60px;
    /* Using flexbox to bottom-align vertically */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-weight: 500;
    /* Give the title some extra space. */
    margin: 4px;
}

.omniplus-documents-overview .course {
    min-width: 300px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.omniplus-documents-overview .documents-list {
    /* Make the list itself fill the content of the course node. */
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    overflow-x: auto;
}

/* Scrollbar styling for webkit browsers. */
.omniplus-documents-overview .documents-list::-webkit-scrollbar {
    background: none;
    width: 8px;
}

.omniplus-documents-overview .documents-list::-webkit-scrollbar-track {
    background: none;
}

.omniplus-documents-overview .documents-list::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
}

.omniplus-documents-overview .bold {
    font-weight: 500 !important;
}

.omniplus-documents-overview mark {
    background-color: var(--primary-light);
    border-radius: 3px;
}

.omniplus-documents-overview .document {
    margin: 4px;
    /* Auto-size */
    width: auto;
    height: auto;

    /* Horizontal Flexbox */
    display: flex;
    /* Reverse the order to put the icons on the right and the card itself on the left.
     This is done instead of reversing the order of the elements so the card is always
     above the badges without having to specify indixes. */
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;

    --badge-size: 36px;
}

.omniplus-documents-overview .document .badge-holder {
    /* Prevent the badges from being squished by the description. */
    flex-shrink: 0;

    width: var(--badge-size);
    /* Give the badges a bit of space vertically. */
    /* Also to match the padding of the card's content. */
    margin-top: 12px;
    margin-bottom: 12px;

    /* Vertical Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* Give the badges a bit of space from each other. */
    gap: 8px;
}

.omniplus-documents-overview .document .badge-holder .badge {
    height: var(--badge-size);

    /* Rounded corners on top and bottom left. */
    /* border-radius: 2px 0 0 2px; */
    border-radius: 0 2px 2px 0;

    /* Centre-align horizontally */
    text-align: center;
    /* Using flexbox to centre-align vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* icon size and colour */
    color: white;
    font-size: calc(var(--badge-size) * 0.67);
}

.omniplus-documents-overview .document .badge-holder .file-background {
    background-color: var(--dark-grey);
}
.omniplus-documents-overview .document .badge-holder .link-background {
    background-color: var(--dark-blue);
}
.omniplus-documents-overview .document .badge-holder .video-background {
    background-color: var(--dark-red);
}


.omniplus-documents-overview .document .badge-holder .download-icon {
    /* Pointer indicating that the file can be downloaded. */
    cursor: pointer;
    background-color: var(--primary);

    transition-duration: 0.2s;
}
.omniplus-documents-overview .document .badge-holder .download-icon:hover {
    background-color: var(--primary-dark);
}
.omniplus-documents-overview .document .badge-holder .download-icon:focus {
    background-color: var(--primary-darker);
}

.omniplus-documents-overview .document .card {
    /* The card fills the horizontal content. */
    flex-grow: 1;
    border-radius: 2px;
    /* Material 2dp shadow */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

    padding: 12px;

    /* Vertical Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* Added space between title and descriptions. */
    gap: 8px;
}

.omniplus-documents-overview .document .card .name {
    font-size: 20px;

    font-weight: 400;
}

.omniplus-documents-overview .document .card .date {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);

    font-weight: 400;
}

.omniplus-documents-overview .document .card .description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);

    font-weight: 400;
}

/* Icon displayed on the left section as a quick link to the documents overview page. */
.documents-overview-icon-parent .material-icons {
    /* Copied from the colour of the lea icon. */
    color: #7fd91b;
    font-size: 30px;
}
/* Icon displayed on the left section as a quick link to the documents overview page. */
.documents-overview-icon-parent:hover .material-icons {
    color: white;
}